:root {
    font-family: 'Roboto';
    background-color: rgb(143, 179, 235);
}

main {
    background-color: rgb(235, 252, 176);
    padding: 5rem;
    text-align: center;
}

input {
    padding: .25rem;
    margin: .25rem 0;
    font-size: 1.25rem;
}